@startuml
hide empty members
set namespaceSeparator ::

skinparam class {
	ArrowColor RoyalBlue
	BorderColor DimGray
}

{{#graphPackages}}
    package "{{name}}" {{color}} {

    }
{{/graphPackages}}


{{#classDiagrams}}
    {{#domain}}
        package "{{domain}}" {
    {{/domain}}
    class "{{description}}"  as {{className}}  {{#superClass}} < ? extends {{superClass}}> {{/superClass}} << ({{stereotype}},{{color}}) >> {{backgroundColor}} {
	 {{#fields}}
	 - {{#name}}{{name}}{{/name}} {{#dataType}}<b>:{{dataType}}</b>{{/dataType}}
	 {{/fields}}
    {{#domain}}
        }
    {{/domain}}
}
{{/classDiagrams}}



{{#interfaceDiagrams}}
    {{#domain}}
        package "{{domain}}" {
    {{/domain}}
    interface "{{description}}"  as {{className}}  {{#superClass}} < ? extends {{superClass}}> {{/superClass}} << ({{stereotype}},{{color}}) >> {{backgroundColor}} {
	 {{#methods}}
	 + <i>{{methodDefinition}}</i><b>:{{returnType}}</b> {{#errorClass}} <b><color:red> throws {{errorClass}} </color> </b>{{/errorClass}}
	 {{/methods}}
    {{#domain}}
        }
    {{/domain}}
}
{{/interfaceDiagrams}}


{{#operationDiagrams}}
    {{#domain}}
        package "{{domain}}" {
    {{/domain}}
    class "{{description}}"  as {{className}}  {{#superClass}} < ? extends {{superClass}}> {{/superClass}} << ({{stereotype}},{{color}}) >> {{backgroundColor}} {
    {{#hasHeaderParams}}
        .. headers ..
        {{#headers}}
            {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
        {{/headers}}
    {{/hasHeaderParams}}
    {{#hasPathParams}}
        .. path params ..
    {{#pathParams}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/pathParams}}
    {{/hasPathParams}}
    {{#hasQueryParams}}
        .. query params ..
    {{#queryParams}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/queryParams}}
    {{/hasQueryParams}}
    {{#hasFormParams}}
        .. form params ..
    {{#formParams}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/formParams}}
    {{/hasFormParams}}
    {{#bodyDefinitions}}
        .. body ..
        <i>{{key}}</i> {{#value.required}}*{{/value.required}} <i>{{value.fieldName}}</i><b>:{{value.returnType}}</b>
    {{/bodyDefinitions}}
        .. responses ..
    {{#responses}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b><i> {{mediaType}}</i>
    {{/responses}}
    }
    {{#domain}}
        }
    {{/domain}}
{{/operationDiagrams}}



{{#entityRelations}}
{{sourceClass}} {{#isExtension}}-->{{/isExtension}} {{#isExtends}}..>{{/isExtends}} {{#isComposition}}*--{{/isComposition}} {{#cardinality}}"{{cardinality}}"{{/cardinality}}  {{targetClass}}
{{/entityRelations}}

note as N1
  Name: <b><color:royalBlue>{{title}}</color>
  Version: <b><color:royalBlue>{{version}}</color>
  created  on: https://sylvainleroy.com
end note


@enduml