@startuml
hide empty members
set namespaceSeparator none

skinparam class {
	BackgroundColor PaleGreen
	ArrowColor RoyalBlue
	BorderColor DimGray
}

{{#classDiagrams}}
{{#isClass}}class{{/isClass}} {{^isClass}}enum{{/isClass}} {{className}} {{#superClass}} < ? extends {{superClass}}> {{/superClass}}{
	 {{#fields}}	
	 - {{#name}}{{name}}{{/name}} {{#dataType}}<b>:{{dataType}}</b>{{/dataType}} 
	 {{/fields}}
}

{{/classDiagrams}}

{{#interfaceDiagrams}}
interface {{interfaceName}} {
	 {{#methods}}
	 + <i>{{methodDefinition}}</i><b>:{{returnType}}</b> {{#errorClass}} <b><color:red> throws {{errorClass}} </color> </b>{{/errorClass}}
	 {{/methods}}
}

{{/interfaceDiagrams}}

{{#operationDiagrams}}
    abstract {{operationName}} {
    {{#hasPathParams}}
        .. path params ..
    {{#pathParams}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/pathParams}}
    {{/hasPathParams}}
    {{#hasQueryParams}}
        .. query params ..
    {{#queryParams}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/queryParams}}
    {{/hasQueryParams}}
    {{#hasHeaderParams}}
        .. query params ..
        {{#headers}}
            {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
        {{/headers}}
    {{/hasHeaderParams}}
    {{#hasFormParams}}
        .. form params ..
    {{#formParams}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/formParams}}
    {{/hasFormParams}}
    {{#body}}
        .. body ..
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/body}}
        .. responses ..
    {{#responses}}
        {{#required}}*{{/required}} <i>{{fieldName}}</i><b>:{{returnType}}</b>
    {{/responses}}
    }

{{/operationDiagrams}}


{{#entityRelations}}
{{sourceClass}} {{#isExtension}}-->{{/isExtension}} {{#isExtends}}..>{{/isExtends}} {{#isComposition}}*--{{/isComposition}} {{#cardinality}}"{{cardinality}}"{{/cardinality}}  {{targetClass}}
{{/entityRelations}}

note as N1
  Name: <b><color:royalBlue>{{title}}</color>
  Version: <b><color:royalBlue>{{version}}</color>
end note


@enduml